:root {
  --secondary-color: #ddd101;
  --sucess-color: #02b290;
  --danger-color: #e5d68a;
}
body {
  background-color: var(--danger-color);
  color: #03203C;
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50vw;
}

.btn {

  margin-top: 1.4rem;
  background-color: var(--secondary-color);
  border-radius: 3rem;
  padding: 0.5em;
  width: 20%;
  margin: 0 auto ;
  margin-top: 1rem;
  color: #120e43;
}
#error-message {
  display: none;
  background-color: var(--secondary-color);
}
.change-table {
  margin-top: 2rem;
  background-color: var(--sucess-color);
  border-radius: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 3rem;
}
footer p {
  text-align: center;
  font-size: large;
}
footer a {
  text-align: center;
  
}
i {
 text-align: center ;
  margin-top: .9rem;
  font-size: 1.5rem;
  margin-left: 1rem;
  color: #03203C;
}
